lobby_countdown: 120
round_end_countdown: 90

motd: '''
	<div class="motd">
		<h1>Welcome to Bluespess, a Space Station 13 remake!</h1>
		<b>An ss13 remake so good, it just as laggy as the original!</b><br>
		<i>This is still extremely unfinished.</i>
	</div>
	'''
