port: 8080
http_opts:
	files:
		key: null
		cert: null
https: false

gh_login:
	enabled: false
	client_id: null
	client_secret: null
	user_agent: 'Bluespess'

maps:
	current_map: 'BoxStation'
	map_list: ['BoxStation', 'MetaStation']
