div#mapwindow-container {
	position: absolute;
	left:0px;top:0px;
	width:95vh;height:95vh;
	overflow: hidden;
	background-color: #000000;
}

div#mapwindow {
	position: absolute;
	width: 480px;
	height: 480px;
	margin: auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

div#rightwindow {
	position: absolute;
	left: 95vh;
	bottom: 5vh;
	top: 0px;
	right: 0px;
}

div.maplayer {
	overflow: visible;
	position: absolute;

}

/* PIXELLATED GRAPHICS EVERYWHERE */
* {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

/* Fancy scrollbars on chrome! */
::-webkit-scrollbar {
	background-color:transparent;
}
::-webkit-scrollbar:vertical {
	width:10px;
}
::-webkit-scrollbar:horizontal {
	height:10px;
}
::-webkit-scrollbar-thumb {
	background-color:#444;
	border-radius:5px;
	background: linear-gradient(to right, #505050 0%,#5a5a5a 100%);
	border:1px solid #333333;
}
::-webkit-scrollbar-corner {
	background-color:#222222;
}
::-webkit-scrollbar-track {
	background-color:#222222;
}
