.tooltip-wrapper {
	pointer-events: none;
	position: fixed;
}
.tooltip {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	max-width: 298px;
	border: 2px solid #1B2967;
	pointer-events: none;

	&.content {
		font: bold 12px Arial, 'Helvetica Neue', Helvetica, sans-serif;
		color: #ffffff;
		padding: 8px;
		border: 2px solid #0033CC;
		background: #005CB8;
	}

	h1 {
		margin: -5px 0 2px 0;
		font-size: 1.2em;
		line-height: 1.4;
	}

	p {
		margin: 0;
		line-height: 1.2;
	}

	/* Custom Themes */
	&.blob {border-color: #2E2E2E;}
	&.blob .content {color: #82ED00; border-color: #4E4C4A; background-color: #191918;}

	&.parasite {border-color: #88868D;}
	&.parasite .content {color: #EFEEEF; border-color: #35333A; background-color: #636169;}

	&.alien {border-color: #33165B;}
	&.alien .content {color: #25004A; border-color: #5A3076; background-color: #6D3A8E;}

	&.wraith {border-color: #492136;}
	&.wraith .content {border-color: #331726; background-color: #471962;}

	&.cult {border-color: #292222;}
	&.cult .content {color: #FF0000; border-color: #4C4343; background-color: #3C3434;}

	&.clockcult {border-color: #170800;}
	&.clockcult .content {color: #B18B25; border-color: #000000; background-color: #5F380E;}

	&.pod {border-color: #052401;}
	&.pod .content {border-color: #326D29; background-color: #569F4B;}

	&.colo-pod {border-color: #256fb9;}
	&.colo-pod .content {border-color: #000000; background-color: #000000;}

	&.hisgrace {border-color: #7C1414;}
	&.hisgrace .content {color: #15D512; border-color: #9D1414; background-color: #861414;}

	/* TG: Themes */
	/* ScreenUI */
	&.midnight {border-color: #2B2B33;}
	&.midnight .content {color: #6087A0; border-color: #2B2B33; background-color: #36363C;}

	&.plasmafire {border-color: #21213D;}
	&.plasmafire .content {color: #FFA800 ; border-color: #21213D; background-color:#1D1D36;}

	&.retro {border-color: #005E00;}
	&.retro .content {color: #003366; border-color: #005E00; background-color: #00BD00;}

	&.slimecore {border-color: #18640E;}
	&.slimecore .content {color: #6EA161; border-color: #11450B; background-color: #354E35;}

	&.operative {border-color: #1E0101;}
	&.operative .content {color: #FFFFFF; border-color: #750000; background-color: #350000;}

	&.clockwork {border-color: #170800;}
	&.clockwork .content {color: #B18B25; border-color: #000000; background-color: #5F380E;}
}
